:root {
  --heading-font-family: "Vast Shadow", serif;
  --default-font-family: "Cutive Mono", monospace;
}

body {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}

a {
  color: #000000;
}

a:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all 0.2s;
}

hr {
  max-width: 200px;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.hero {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 60px 0;
}

.hero h1 {
  font-size: 48px;
  line-height: 44px;
}

.hero h2 {
  font-size: 28px;
  line-height: 30px;
  margin: 0;
}

.hero h3 {
  font-size: 20px;
  line-height: 22px;
  margin: 0;
}

.contact-btn-branding,
.more-btn-branding,
.view-btn-branding {
  background-color: #ffffff;
  border-color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.contact-btn-branding:hover {
  border-color: #ffffff;
  transition: all 0.25s ease-in-out;
}

.more-btn-branding:hover,
.view-btn-branding:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all 0.25s ease-in-out;
}

.project-btn-branding {
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}

.project-btn-branding:hover {
  border-color: #000000;
  transition: all 0.25s ease-in-out;
}

.project-desc {
  padding: 10px;
  border-radius: 4px;
  background-color: #f3f3f3ab;
}

.project-img {
  border: #f3f3f3ab solid 1px;
  border-radius: 4px;
  padding: 15px;
  background-color: #f3f3f3ab;
}

.heading-container {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 800px;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
}

.heading-container h1 {
  font-size: 32px;
}

.heading-container h2 {
  font-size: 20px;
  font-weight: bold;
}

.about-img {
  border-radius: 4px;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
}

.recent-container,
.about-container,
.projects-container,
.contact-container {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
  max-width: 799px;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.recent-container {
  border: none;
  text-align: start;
}

.about-container {
  text-align: start;
}

.all-container {
  margin-bottom: 150px;
}

.nav-container {
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}

nav {
  padding: 10px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 18x;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  font-size: 16px;
}

.active a {
  background-color: #000000;
  color: #ffffff;
}

footer {
  background-color: #000000;
}

.mailto-link {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

.social-links {
  font-size: 25px;
  color: #ffffff;
}

@media (max-width: 600px) {
  h1,
  .about-h1 {
    font-size: 24px;
  }

  h3,
  .hero h3,
  .about-h2 {
    font-size: 16px;
  }

  h4,
  .project-text,
  .hero h2 {
    font-size: 14px;
  }

  .heading-container,
  .recent-container,
  .about-container,
  .projects-container,
  .contact-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
