:root {
  --heading-font-family: "Vast Shadow", serif;
  --default-font-family: "Cutive Mono", monospace;
}

body {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 44px;
}

.about-h1 {
  font-size: 29px;
}

.about-h2 {
  font-size: 20px;
  font-weight: bold;
}

.project-h1 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}

hr {
  max-width: 200px;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.hero {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 40px 0;
}

.hero-greeting {
  font-size: 28px;
  line-height: 30px;
  margin: 0;
}

.hero-text {
  font-size: 20px;
  line-height: 22px;
  margin: 0;
}

.btn-branding {
  background: #ffffff;
  font-weight: bold;
  margin-top: 30px;
  font-size: 14px;
}

.btn-branding:hover {
  border-color: #ffffff;
  transition: 0.25s ease-in-out;
}

.project-btn-branding {
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}

.project-btn-branding:hover {
  border-color: #000000;
  transition: 0.25s ease-in-out;
}

.main-content {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 775px;
}

.recent-container {
  display: block;
  margin: 0 auto;
  max-width: 750px;
  text-align: center;
}

.project-desc {
  padding: 10px;
  border-radius: 4px;
  background-color: #f3f3f3ab;
}

.project-img {
  border: #f3f3f3ab solid 1px;
  border-radius: 4px;
  padding: 15px;
  background-color: #f3f3f3ab;
}

.sub-container {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 800px;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
}

.about-img {
  border-radius: 4px;
  padding: 10px;
  background-color: #ffffff;
}

.projects-container {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 750px;
  text-align: center;
}

@media (max-width: 600px) {
  h1,
  .about-h1 {
    font-size: 24px;
  }

  h3,
  .hero-greeting,
  .about-h2 {
    font-size: 16px;
  }

  h4,
  .project-text,
  .hero-text {
    font-size: 14px;
  }

  .sub-container,
  .projects-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
